/data
tmp/*
!tmp/tox.ini
!tmp/correctness-evaluation.py
!tmp/correctness_evaluation.py
.env
/human-eval
/ClassEval
*/__pycache__
.scannerwork
report.json
coverage.json
.coverage
*/*/__pycache__
cookies.json
example.zip
merged.pdf
new_zip_file.zip
output_directory/
test.json
test.db
test1.pdf
test2.pdf
test_1.txt
test_2.txt
test_3.txt
test_4.txt
test_5.txt
test_data.xlsx
test_database.db
test_only_read.json